<a href="https://colab.research.google.com/github/Ganesh9140/Basics-of-Python/blob/main/Assignment_1(Ganesh).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
A=["Ganesh","Borse","Male","Student"]
B=["9140","TYBSc","B"]

tuple(A)

('Ganesh', 'Borse', 'Male', 'Student')

In [2]:
tuple(B)

('9140', 'TYBSc', 'B')

In [3]:
a=('Ganesh','Borse','Male','Student')

In [13]:
b=('9140','TYBSC','B')

In [14]:
a

('Ganesh', 'Borse', 'Male', 'Student')

In [15]:
print(type(a))

<class 'tuple'>

In [16]:
print(a[:3])

('Ganesh', 'Borse', 'Male')

In [17]:
print(a[2:])

('Male', 'Student')

In [18]:
print(a[3])

Student

In [19]:
print(a[:2])

('Ganesh', 'Borse')

In [20]:
print(a[1:2])

('Borse',)

In [21]:
print(b,"\n")

('9140', 'TYBSC', 'B')

In [22]:
for j in a:
    print(j)

Ganesh
Borse
Male
Student

In [24]:
if "TYBSC" in b:
    print("Ganesh is in TYBSC")

Ganesh is in TYBSC

In [25]:
c=tuple("Pune")
a+b+c

('Ganesh',
 'Borse',
 'Male',
 'Student',
 '9140',
 'TYBSC',
 'B',
 'P',
 'u',
 'n',
 'e')